<html>
    <title> Restaurant Review </title>
    <body>
        @{
            ViewData["Title"] = "Home Page";
        }

    
@model restauranter.Models.Person
<h3> Restaurant Review </h3>

<form asp-controller="Home" asp-action="Create" method="post">
                <p>
                <label asp-for="UserName">UserName:</label>
                <input asp-for="UserName" id ="UserName" name="UserName">
                </p>
                <p>
                <label asp-for="RestauName">RestauName:</label>
                <input asp-for="RestauName" id ="RestauName" name="RestauName">
                </p>
                <p>
                <label asp-for="Review">Review:</label>
                <input asp-for="Review" id ="Review" name="Review">

                </p><p>
                <label asp-for="VisitDate">VisitDate:</label>
                <input asp-for="VisitDate" type= "date" name="VisitDate">
                </p><p>
                    <label asp-for="Stars"></label>
                    <select asp-for="Stars">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                <button type="submit">Submit
</form>
    </body>
</html>